@model asp.net_laboratorna10_shchedrov.Models.ConsultationViewModel

<h2>Applying for consultation</h2>

<form asp-action="Index" method="post">
    <div>
        <label asp-for="FullName">Full name: </label>
        <input asp-for="FullName" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Email">Email: </label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="ConsultationDate">Consultation date: </label>
        <input asp-for="ConsultationDate" type="date" />
        <span asp-validation-for="ConsultationDate" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Product">Product: </label>
        <select asp-for="Product">
            <option value="">Choose a product</option>
            <option value="JavaScript">JavaScript</option>
            <option value="C#">C#</option>
            <option value="Java">Java</option>
            <option value="Python">Python</option>
            <option value="Basics">Basics</option>
        </select>
        <span asp-validation-for="Product" class="text-danger"></span>
    </div>

    <button type="submit">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
